<section>
  <h2>Create New Post</h2>

  <form class="new-post-form">
    <div>
      <label for="post-title">Title</label>
      <input type="text" id="post-title" name="post-title" />
    </div>
    <div>
      <label for="post-url">Movie Poster</label>
      <input id="post-url" name="post-url" />
    </div>
    <div class= 'watch-options'>
  <label for="watchzone">Where to Watch</label>
  <input type="checkbox" id="netflix" name="Netflix" value="Netflix">
  <label for="netflix"> Netflix</label><br>
  <input type="checkbox" id="hulu" name="Hulu" value="Hulu">
  <label for="hulu"> Hulu</label><br>
  <input type="checkbox" id="hbomax" name="HBO Max" value="HBO Max">
  <label for="hbo-max"> HBO Max</label><br>
  <input type="checkbox" id="amazonprime" name="Amazon Prime" value="Amazon Prime">
  <label for="amazon"> Amazon Prime</label><br>
  <input type="checkbox" id="paramountplus" name="Paramount Plus" value="Paramount Plus">
  <label for="paramount"> Paramount Plus</label><br>
  <input type="checkbox" id="hbo" name="HBO" value="HBO">
  <label for="hbo"> HBO </label><br>
  <input type="checkbox" id="disneyplus" name="Disney Plus" value="Disney Plus">
  <label for="disney-plus"> Disney Plus </label><br>
  <input type="text" id="other" name="Other" value=" Choice Not Mentioned">

    </div>
    <button type="submit" class="btn">Create</button>
  </form>
</section>

{{#if posts.length}}
<section>
  <h2>Your Posts</h2>
  <ol>
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>